src/SIAT.PhoneApp/Service References/SIATServiceReference/SIATServiceWP73.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIAT.Service.Contract.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIAT.Service.Contract.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOccurrence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Occurrence" nillable="true" type="tns:Occurrence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOccurrence" nillable="true" type="tns:ArrayOfOccurrence" />
  <xs:complexType name="Occurrence">
    <xs:sequence>
      <xs:element minOccurs="0" name="_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_id" type="xs:int" />
      <xs:element minOccurs="0" name="_idCurrentNode" type="xs:long" />
      <xs:element minOccurs="0" name="_idLastNode" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="_intensity" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="_lat" type="xs:double" />
      <xs:element minOccurs="0" name="_lon" type="xs:double" />
      <xs:element minOccurs="0" name="_precision" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="_wayId" type="xs:long" />
      <xs:element minOccurs="0" name="_wayName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Occurrence" nillable="true" type="tns:Occurrence" />
  <xs:complexType name="Alert">
    <xs:sequence>
      <xs:element minOccurs="0" name="_lat" type="xs:double" />
      <xs:element minOccurs="0" name="_level" type="tns:AlertLevel" />
      <xs:element minOccurs="0" name="_lon" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alert" nillable="true" type="tns:Alert" />
  <xs:simpleType name="AlertLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RoadBlock" />
      <xs:enumeration value="HighTraffic" />
      <xs:enumeration value="MediumTraffic" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlertLevel" nillable="true" type="tns:AlertLevel" />
</xs:schema>