src/SIAT.PhoneApp/Service References/SIATServiceReference/SIATServiceWP74.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIAT.OSM.Service.Contract.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIAT.OSM.Service.Contract.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Way">
    <xs:sequence>
      <xs:element minOccurs="0" name="_country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_id" type="xs:long" />
      <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_oneWay" type="xs:boolean" />
      <xs:element minOccurs="0" name="_ref" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Way" nillable="true" type="tns:Way" />
</xs:schema>