src/SIAT.PhoneApp/Service References/SIATServiceReference/SIATServiceWP72.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIAT.Operations" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIAT.Operations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPositionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PositionInfo" nillable="true" type="tns:PositionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPositionInfo" nillable="true" type="tns:ArrayOfPositionInfo" />
  <xs:complexType name="PositionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
      <xs:element minOccurs="0" name="Speed" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositionInfo" nillable="true" type="tns:PositionInfo" />
</xs:schema>